* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  margin: 0px;
  padding: 0px;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(251, 61, 61, 0.947);
  height: 70px;
  width: 100%
}

.navbar nav p {
  font-size: 25px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  word-spacing:0.2ch;
  letter-spacing: 1px;
}


.navbar nav ul {
  display: flex;
  padding: 10px;
}

.navbar nav ul li {
  list-style-type: none;
  display: flex;
  font-size: 20px;

}

.navbar nav ul li a:hover {
  color: black;
}


.navbar nav ul .name {
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown a{
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 95%;
  left: 0;
  background-color: rgba(251, 61, 61, 0.947);
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  margin-top: 19px;
}