
.container  h2{
    margin-left: 550px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .sal table{
    width:600px;
    border: 1px solid black;
    align-items: center;
    margin-left: 350px;
    height:650px;
    padding: 20px;
    padding-left: 20px;
    font-size: 16px;
}
.container .sal table caption{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 5ch;
}
#tragss{
    width:50%;
    padding: 10px 20px;
    border:none;
    border-bottom: 1px solid black;
    outline:none;
    
}
.divinp{
    margin-left: 360px;
    
}
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }

h3{
    text-align: center;
}